@import url('https://fonts.googleapis.com/css2?Family=Inrer+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo {
    width: 300px;
    height: 56px;
}

.header-text {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7em;
    font-size: 24px;
}

.header-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main{
    width: 80%;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-text {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    margin-bottom: 30px;
}

.container-brands,
.container-brands2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.main-img {
    width: 200px;
    height: 100px;
}

.container-brands h1,
.container-brands2 h1 {
    font-family: 'Inter Tight', sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}

h4 {
    font-family: 'Inter Tight', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}


footer {
    color: white; /* Колір тексту */
    text-decoration: none; /* Видаляємо підкреслення посилань */
    display: flex;
   
    flex-direction: column;
    margin-top: 50px;
    background-color: black;
    width: 100%;
    padding: 20px 0; /* Додаємо відступи по верху та низу */
}

.footer-container {
    max-width: 1100px; /* Максимальна ширина контейнера */
    margin: 0 auto; /* Центрування контейнера */
    display: flex;
    flex-direction: column; /* Контейнер створюється з вказанням колонки */
}

.footer-top,
.footer-center,
.footer-bottom {
    display: flex;
    flex-direction: row; /* Змінюємо напрямок на рядок */
    justify-content: space-around; /* Вирівнюємо елементи по горизонталі */
    align-items: right; /* Вирівнюємо елементи по вертикалі */
    gap: 80px; /* Відстань між елементами */
    font-size: 20px; /* Розмір тексту */
    text-align: center; /* Вирівнюємо текст по центру */
    min-height: 40px;

}

.footer-top a,
.footer-center a,
.footer-bottom a {
    text-decoration: none; /* Видаляємо підкреслення посилань */
    color: white; /* Колір тексту посилань */
}


.footer-logo {
    margin: auto;
    width: 300px;
    height: 86px;
    border-bottom: 3px solid white;
    margin-bottom: 30px; /* Зменшено відстань від логотипу до навігації */
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;
}

.footer-nav a {
    text-decoration: none;
    color: rgb(120, 118, 118);
    font-size: 18px; /* Збільшуємо масштаб тексту */
    margin: 10px; /* Додаємо відступи навколо посилань */
}

.footer-copyright {
    font-size: 16px; /* Збільшено масштаб тексту копірайту */
    color: white; /* Колір тексту */
    margin-top: 20px; /* Збільшено відстань від верхнього краю */
}